<?php

$finder = PhpCsFixer\Finder::create()
    ->in(["src/"])
;

return PhpCsFixer\Config::create()
    ->setRiskyAllowed(true)
    ->setRules([
        '@PSR2' => true,
        '@Symfony' => true,
        'array_syntax' => ['syntax' => 'short'],
        'concat_space' => ['spacing' => 'one'],
        'phpdoc_to_comment' => false,
    ])
    ->setFinder($finder)
    ;
